.third-slide
	&__content
		max-height: 940px
	&__title
		margin-bottom: 60px
	&__advantages-blocks
		display: grid
		grid-template-rows: repeat(4, auto)
		padding: 10px
		column-gap: 10px
		row-gap: 90px
	&__advantage-block
		&:nth-of-type(even)
			justify-self: end
		&:nth-of-type(odd)
			align-items: flex-start
		&:first-child,
		&:nth-child(2),
		&:nth-child(3)
			position: relative
			&::before
				content: ''
				position: absolute
				background-repeat: no-repeat
				background-position: 0 0
			&::after
				content: ''
				position: absolute
				background-repeat: no-repeat
				background-position: 0 0
		&:first-child
			&::before
				height: 48px
				width: 100%
				max-width: 225px
				background-image: url('../img/dotted-line-1.svg')
				left: 50%
				transform: translateX(-50%) scale(1, -1) rotate(-19deg)
				top: 149px
		&:nth-child(3)
			&::after
				width: 100%
				max-width: 430px
				height: 62px
				left: 50%
				transform: translateX(-50%)
				top: -87px
				background-image: url('../img/dotted-line-2.svg')
			&::before
				width: 100%
				max-width: 205px
				height: 42px
				background-image: url('../img/dotted-line-3.svg')
				top: 150px
				left: 50%
				transform: translateX(-50%) scale(1, -1) rotate(-17deg)
		&:nth-child(4)



.advantage-block
	display: flex
	align-items: flex-end
	&__number
		margin-right: 5px
		line-height: 30px
	&__image
		width: 100%
		max-width: 195px
		height: 130px
		position: relative
		z-index: 10
		margin-right: 30px
		&::before
			position: absolute
			z-index: -10
			content: ''
			width: 100%
			height: 100%
			border: 2px solid #fff
			bottom: 10px
			left: 10px
	&__description
		width: 100%
	&__title
		max-width: 118px
		margin-bottom: 10px
	&__text
		width: 100%
		max-width: 300px
