//for vars and mixin`s

html, body 
    scrollbar-color: #458245 #714826
    scrollbar-width: thin

.bg 
    background-color: #000

.main-losung-96-white    
    color: #fff
    font-family: 'SFPro', sans-serif
    font-size: 96px
    font-weight: 600

.title-44-white
    color: #fff
    font-family: 'SFPro', sans-serif
    font-size: 44px
    font-weight: 400

.title-36-white
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-size: 36px
    font-weight: 700

.text-17-white
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-size: 17px
    font-weight: 300
    line-height: 150%

.text-15-white
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-size: 15px
    font-weight: 300
    line-height: 130%

.text-15-white-150
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-size: 15px
    font-weight: 300
    line-height: 150%

.text-13-white
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-size: 13px
    font-weight: 300
    line-height: 130%

.subtitle-24-white-align-right
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-size: 24px
    font-weight: 500
    text-align: right
    line-height: 28px

.subtitle-21-white
    color: #fff
    font-family: 'Ubuntu', sans-serif
    font-weight: 500
    font-size: 21px
    line-height: 24px

.container
    width: 100%
    max-width: 1280px
    margin: 0 auto
    padding: 150px 40px 50px 40px
    height: 100vh
    display: flex
    align-items: center

.wrapper
    width: 100%
    height: 100%
    max-height: 600px
    position: relative

.active-menu-item
    left: 50% !important

.main
    &__slider-paggination
        transition: 0.4s
        left: -100% 
    &__slider-wrapper
        z-index: 20 
    &__slider-item
        background-size: cover
        background-position: center
        background-repeat: no-repeat
    &__slider
        max-height: 100vh
        overflow: hidden
    &__slider-paggination
        display: flex
        flex: 1
        justify-content: center
    &__slider-bullet
        cursor: pointer
        font-family: 'Ubuntu', sans-serif
        color: #fff
        font-size: 15px
        text-transform: uppercase
        font-weight: 500
        &--active
            opacity: 0.6
        &:not(:last-of-type)
            margin-right: 20px
        &:hover
            transition: 0.3s
            opacity: 0.6
    &__next-slide
        cursor: pointer
        position: absolute
        z-index: 30
        bottom: 10px
        left: 50%
        opacity: 0.7
        transform: translate(-50%)
        &:hover
            transition: 0.3s
            opacity: 1

.sqaure-btn
    cursor: pointer
    position: relative
    background-color: #fff
    &__arrow
        position: absolute
        top: 50%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)

.accordion-btn
    cursor: pointer
    position: relative
    background-color: transparent
    &__arrow
        position: absolute
        top: 50%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)

.transparent-button
    background-color: transparent
    font-family: 'Ubuntu', sans-serif
    text-transform: uppercase
    cursor: pointer
    outline: none
    border: 1px solid white
    border-radius: 3px
    width: 115px
    height: 30px
    color: #fff
    font-size: 15px
    font-weight: 500
    &:hover
        transition: 0.3s
        background-color: #fff
        color: #000
        &:active
            transition: 0s
            background-color: darken(#fff, 40%)
            border-color: darken(#fff, 40%)

.default-form-style
    background: rgba(0, 0, 0, 0.5)
    border: none
    outline: none
    color: #fff
    font-family: 'Ubuntu', sans-serif
    &:hover
        transition: 0.3s
        background-color: #fff
        color: #000











.menu-button
    cursor: pointer
    width: 100%
    max-width: 30px
    height: 22px
    position: relative 
    &__line 
        pointer-events: none
        backface-visibility: hidden
        position: absolute
        margin: 0 auto
        right: 0
        width: 100%
        height: 2px
        background-color: #fff
        transition: 0.3s all 
        &:first-of-type
            top: 0%
            left: 50%
        &:nth-of-type(2)
            top: 44%
            right: -50%
        &:last-of-type
            width: 50%
            bottom: 0
            right: -50%
    &:hover
        .menu-button__line
            &:nth-of-type(2)
                width: 70%
    &--active
        transition: 0.3s
        .menu-button__line
            transition: 0.3s
            &:first-of-type
                right: 0
                top: 16px
                transform: rotate(-45deg)
            &:nth-of-type(2)
                width: 0% !important
            &:last-of-type
                width: 100%
                top: 16px
                transform: rotate(45deg)
